@media screen and (max-width: $desktop) {
  .s-regular {
    font-size: 14px;
  }

  .s-small {
    font-size: 12px;
  }

}

@media screen and (max-width: $tablet) {
  .t-hidden {
    display: none; 
  }

  .t-visible {
    display: inline-block;
  }

  .d-flex {
    &.t-column {
      flex-flow: column;
    }
    &.t-column-reverse {
      flex-flow: column-reverse;
    }
  }

  .t-whole {
    width: calc(100% - #{$spacing});
    margin-left: #{$half-spacing};
    margin-right: #{$half-spacing};
  }

  .t-two-thirds {
    width: calc(#{$col} * 8 - #{$spacing});
    margin: 0 #{$half-spacing};
  }


  .t-half {
    width: calc(50% - #{$spacing});
    margin-left: #{$half-spacing};
    margin-right: #{$half-spacing};
  }

  #content-exhibitions {
    .exhibition-element {
      .exhibition-row-header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "cat      artists"
          "title    artists"
          "download artists";

        .entry-cat-el      { grid-area: cat; }
        .entry-title-el    { grid-area: title; }
        .entry-artists-el  { grid-area: artists; }
        .entry-download-el { grid-area: download; }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  body {
    overflow-x: hidden;
    line-height: 1.2;
  }

  .s-regular {
    font-size: 18px;
  }

  .s-small {
    font-size: 16px;
  }

  .m-hidden {
    display: none; 
  }

  .m-visible {
    display: inline-block;
  }

  .d-flex {
    &.m-column {
      flex-flow: column;
    }
    &.m-column-reverse {
      flex-flow: column-reverse;
    }
  }

  .m-whole {
    width: calc(100% - #{$spacing});
    margin-left: #{$half-spacing};
    margin-right: #{$half-spacing};
  }

  .m-half {
    width: calc(50% - #{$spacing});
    margin-left: #{$half-spacing};
    margin-right: #{$half-spacing};
  }

  header {
    margin-bottom: 0;
    #menu-btn {
      display: flex !important;
      justify-content: flex-end;
      position: relative;
      z-index: 1;
    }
    div[class*="menu-1"]{
      display: inherit;
      position: fixed;
      top: 0;
      right: 0;
      opacity: 0;
      pointer-events: none;
      width: 100vw;
      height: 100dvh;
      background-color: white;
      background-image: url('../img/monogram_LA.svg');
      background-repeat: no-repeat;
      background-size: calc(#{$col} * 3.5);
      background-position: bottom $half-spacing*3 right $half-spacing*3;
      transition: all .5s;
      ul {
        width: 100%;
        display: inline-block;
        padding: calc(#{$half-spacing}*5 + #{$half-spacing}/2) calc(#{$half-spacing} + #{$half-spacing}/2) 0;
        li {
          @extend .m-whole;
        }
      }
      &.open {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  #content-home {
    .current-exhibition {
      order: 1;
      padding-top: calc(100dvh - 150px);
      padding-bottom: $double-spacing;
    }
    .intro-text {
      order:2;
      padding-top: 0;
      margin-top: 0;
      transform: translateX(0);
      padding-bottom: $double-spacing;
    }
    #home-slider {
      overflow: hidden;
    }
  }

  #content-exhibitions {
    padding-top: $half-spacing;
    .exhibition-element {
      .exhibition-row-header {
        grid-template-columns: 1fr;
        grid-template-areas:
          "cat"
          "title"
          "artists"
          "download";
      }
      .exhibition-carousel-row { 
        --slide-spacing: #{$spacing};
        max-height: unset;
        opacity: 1;
        margin: $spacing 0;
        overflow: visible;
        .embla-slider {
          .embla-slide {
            height: calc(7/12 * 100vw * 1.1);
            &.portrait {
              --slide-size: calc(#{$col} * 7 - #{$spacing});
            }
            &.landscape {
              --slide-size: calc(#{$col} * 11 - #{$spacing});
            }
          }
        }
      }
    }
  }
  #content-artists {
    margin-right: 9px;
    #artists-contents {
      width: calc(100% - #{$spacing});
      margin-right: 3px;
      margin-left: 3px;
      overflow: visible;
      height: unset;
      .artist-title {
        cursor: pointer;
      }
      .artist-el {
        opacity: 0;
        max-height: 0;
        transition: all 1s;
        overflow: hidden;
        &.open {
          opacity: 1;
          max-height: 300vh;
          overflow: visible;
        }
      }
      .artist-carousel-row .embla-slider {
        width: calc(100% + $half-spacing * 6);    
        .embla-slide {
          height: calc(7/12 * 100vw * 1.1);
          &.portrait {
            --slide-size: calc(#{$col} * 7 - #{$spacing});
          }
          &.landscape {
            --slide-size: calc(#{$col} * 11 - #{$spacing});
          }
          .img-caption {
            font-size: 12px;
          }
        }
      }
      .artist-texts {
        padding-right: 0;
      }
    }
  }

  #site_logo {
    display: none;
  }

  #overlay-container {
    z-index: 1000000;
  }
}

